body {
    background-color: black;
}

header {
    background-color: grey;
    background-image: url(../images/header_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: navajowhite;
    border: 1px solid blue;
}

nav {
    background-color: grey;
}

nav ul{
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
}

nav ul li{
    list-style-type: none;
    background-color:  #B2B2B2;
        display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    background-color: #8E8E8E;
}


#content {
    background-color: black;
    float: left;
    width: 80%;
    margin-right: 15px;
    border: 1px solid grey; 
    text-align: center;
}

h2{
    color: white;
        
}

aside {
    
    border: .5px solid yellow;
    width: 18.5%;
    float: right;
}


aside ul li a {
    color: blue;
    text-decoration: none;
}

aside ul li{
    list-style-type: none;
}

aside ol li {
    color: white;
    list-style-type: none;
}

.col_detail {
    column-count: 3;
    column-rule: 1px solid white;
    column-gap: 50px;
    
}

h3{
    color: white;
}

main section p {
    color: white;
}

footer {
    
    clear: both;
    border: 1px solid orange;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    text-align: center;
}

footer ul li{
    display: inline;
    list-style-type: none;
    padding: 15px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
}

footer ul li a{
     text-decoration: none;
    color: white;
}


